<mat-toolbar color="primary" class="d-flex flex-row-reverse">
    <a href="https://github.com/maxdelob/exo_lmp">
      <img  class= "m-2 bouton-git" src="./assets/github-sign.svg" style='height:30px; width:30px; cursor: pointer;'>
    </a>
    <span class="titre mr-2">Exercice LMP Maxime Delobelle</span>
</mat-toolbar>
<div class="col d-flex justify-content-center align-items-center" color='primary' style="height:calc(100% - 140px);">
  <form style="width:60%;">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Selectionnez un arrondissment" aria-label="arrondissments" [matAutocomplete]="auto" [formControl]="arrondCtrl">
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectionChanged()">
              <mat-option *ngFor="let arrond of arrondissmentsFiltres" [value]="arrond.insee" class="text-center">
              <span>{{arrond.insee}} - {{arrond.name}} - {{arrond.libelle}}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
    </form>
</div>
<mat-divider></mat-divider>
<button mat-button color="warn" (click)='navigateFakeData()' id="bouton-fakeData">Utiliser de la fausse donnée</button>

  