<mat-toolbar color="primary" class="d-flex flex-row-reverse">
    <img  class= "m-2 bouton-git" src="./assets/github-sign.svg" style='height:30px; width:30px; cursor: pointer;'>
    <span class="titre mr-2">Exercice LMP Maxime Delobelle</span>
</mat-toolbar>
<div class="col d-flex justify-content-center align-items-center" color='primary' style="height:60%;">
  <form style="width:60%;">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Selectionnez un arrondissment" aria-label="arrondissments" [matAutocomplete]="auto" [formControl]="arrondCtrl">
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectionChanged($event)">
              <mat-option *ngFor="let arrond of arrondissmentsFiltres" [value]="arrond.insee" class="text-center">
              <span>{{arrond.insee}} - {{arrond.name}} - {{arrond.libelle}}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
    </form>
</div>

  